/* Add CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  text-align: center;
  background-color: #FFFFFF; 
  font-family: Arial, sans-serif; 
}

/* Center all h1 tags */
h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: auto;
    font-weight: bold;
    color:rgb(202, 184, 149);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

blockquote {
  font-size: 24px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 5em;
  margin: 0 auto;
  padding: 2em;
  background-color: #ddd;
}
 
  aside{
    margin: 0 auto;
    height: 10%;
    width: auto;
    background-color: #FF6347;
  }
  
  /*for the table*/
#table{
  height: 25%;
  width: 50%;
  background-color: #fff;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

table {
    border: 3px solid black;
    padding: 2em;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  thead th {
    background-color: #3c3f58;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tbody td:hover {
    background-color: #ddd;
  }
  
  
    
/* for the video container */
#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* for the content container */
.content {
  position: relative;
  padding: 50px;
  z-index: 1;
}

/* for the button on nav bar*/
#myBtn {
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: .25em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: auto;
}

#myBtn:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#pause-button-container {
    float: right;
    margin-right: 0;
  }



/*  for the container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* for the boxes */
.box {
  width: 350px;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: justify;
}

.box h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
  margin-bottom: 20px;
}

.box ul {
  list-style: none;
  margin-bottom: 10px;
}

.box ul li {
  margin-bottom: 5px;
}

.box ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.box ul li a:hover {
  color: #FF6347;
}

/*navbar*/

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  
  .nav-list li {
    margin: 0 1rem;
  }
  
  .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-list li a:hover {
    color: #ffd700;
  }

   #player {
    display: none;
    margin-left: 33%;
    background-color: rgb(122, 122, 118);
    padding: .2rem;
    border: .2rem;
    border-radius: 2rem;
   }

/*for the list on main*/
   #list1{
    background-color:aquamarine;
    width: 20%;
    height: auto;
    float: left;
    margin-left: 30%;
    padding: 2em;
    text-align: left;
   }

   #list2{
    background-color:aqua;
    width: 20%;
    height: auto;
    float: right;
    margin-right: 30%;
    padding: 2em;
    text-align: left;
   }

/*for the footer and copywrite*/
   #footer {
    background-color: #ddd;
    position: absolute;
    bottom: 2.5em;
    width: 100%;
    text-align: center;
}

   #copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*for the form*/
#form-container {
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

#form-pic {
  width: 50%; 
  max-width: 30%;
  max-height: 30%;
  padding: 5rem;
}

#my-form {
  width: 50%;
}
#formSubmit{
  width: 10%;
  margin-left: 45%; 
}
